.InputImage {
  background: transparent;
  border: 2px dashed;
  border-radius: 2px;
  min-height: 50px;
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
  line-height: 50px;
  transition: .12s;
  cursor: pointer;
  opacity: .75;
  overflow: hidden;
  i {
    vertical-align: text-top;
    margin: 0 8px;
    transform: translateY(3px);
    &.dropAnimation {
      animation: dropAnimation infinite 1.5s;
    }
  }
  &:hover {
    opacity: 1;
  }
  img {
    width: 100%;
  }
}
.PreviewImage {
  position: relative;
  div {
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 4px;
    font-size: 1.5em;
    opacity: .75;
    &:hover {
      opacity: 1;
    }
  }
  img {
    width: 100%;
  }
}

@keyframes dropAnimation {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  50% {
    transform: translate3d(0, -18%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}